## IDE support
.settings
.idea
# .vscode
.history
.vs
.favorites.json

## -- node.js --
node_modules
.temp_cache
yarn-error.log

## -- map --
*.map

# -- MacOS --
.DS_Store
._.DS_Store

## ---build---
dist