doctype html
html(lang='ru')
	head
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		meta(http-equiv='X-UA-Compatible' content='ie=edge')
		title EXAMPLE
		link(rel='preload' as='script' href='/js/main.bundle.js')
		link(rel='preload' as='style' href='/css/main.bundle.css')
		link(rel='stylesheet' href='/css/main.bundle.css')
	body
		div(data-is='example' data-params='{"company": "Epicentr K"}')
		script(defer src='/js/main.bundle.js')